<header class="blue_bg"> 
    <div>
        <img class="header_size" src="/img/CodeSquad-Comics-logo.png" alt="CodeSquad Comics logo">
    </div>
    <div id="link-colors-header">
        <span class="header_navi">
            <a target="_blank" rel='noopener noreferrer' href="/index">Home</a>
        </span>
        <span class="header_navi">
        <a target="_blank" rel='noopener noreferrer' href="/about">About</a>
        </span>
        <span class="header_navi">
        <a target="_blank" rel='noopener noreferrer' href="/login">Login</a>
        </span>
        <span class="header_navi">
            <a target="_blank" rel='noopener noreferrer' href="/register">Register</a>
            </span>
    </div>
</header>