<%- include('../partials/head') -%>
<title>About Page</title>
<%- include('../partials/nav') -%>
  <!--I don't know what I'm supposed to put for the gradient so I'm just going to leave this here for now-->
    <br>
    <div class="about_page_text_container">
        <div class="headline_color">
            <h2>ABOUT CODESQUAD COMICS</h2>
        </div>

            <p>CodeSquad Comics is a collection of graphic novels read by YOUR NAME. Copyrighted images are used for review purposes only. Meta information about this collection can be found below. A detailed list of all the graphic novels in this collection can be found on the homepage. Additional details about each comic book, including the author, genre, number of pages, and a brief synopsis, can be found by navigating to the homepage and clicking the image of the book cover or the Details link for the desired graphic novel.</p>
        <br>

        <div class="headline_color">
            <h2>COLLECTION DETAILS</h2>
        </div> 
            <ul>
                <li>Total comic books: 12</li>
                <li>Latest additions: 12</li>
                <li>5-Star ratings: 5</li>
                <li>Publishers: 9</li>
        </ul>
    </div>
        <br>
<%- include('../partials/footer') -%>