<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<!--book.ejs will need to be a for(of) loop "for (book) of (data)"-->
    <br>
    <div id="general_comic_card" class="comic_card">
        <h2 class="card_header">BATMAN: THE DARK KNIGHT RETURNS</h2>
        <image class="comic_card_image" src="/img/batman.jpg"></image>
        <div id="comic_desc" class="comic_card_description">
            <p><u class="descriptor_color">Title:</u> Batman: The Dark Knight Returns
                <br>
                <br>
                <u class="descriptor_color">Author:</u> Frank Miller
                <br>
                <br>
                <u class="descriptor_color">Publisher:</u> DC Comics
                <br>
                <br>
                <u class="descriptor_color">Genre:</u> Superhero
                <br>
                <br>
                <u class="descriptor_color">Number of pages:</u> 197
                <br>
                <br>
                <u class="descriptor_color">Rating: 3</u>
                <br>
                <br>
            <u class="descriptor_color">Synopsis:</u> This masterpiece of modern comics storytelling brings to vivid life a dark world and an even darker man. Together with inker Klaus Janson and colorist Lynn Varley, writer/artist Frank Miller completely reinvents the legend of Batman in his saga of a near-future Gotham City gone to rot, ten years after the Dark Knight's retirement.
                <br>
                <br>
                Crime runs rampant in the streets, and the man who was Batman is still tortured by the memories of his parents' murders. As civil society crumbles around him, Bruce Wayne's long-suppressed vigilante side finally breaks free of its self-imposed shackles.
                <br>
                <br>
                The Dark Knight returns in a blaze of fury, taking on a whole new generation of criminals and matching their level of violence. He is soon joined by this generation's Robin—a girl named Carrie Kelley, who proves to be just as invaluable as her predecessors.
                But can Batman and Robin deal with the threat posed by their deadliest enemies, after years of incarceration have made them into perfect psychopaths? And more important, can anyone survive the coming fallout of an undeclared war between the superpowers—or a clash of what were once the world's greatest superheroes?
                <br>
                <br>
                Over fifteen years after its debut, Batman: The Dark Knight Returns remains an undisputed classic and one of the most influential stories ever told in the comics medium.</p>
        </div>
    
    </div>
    <br>

<%- include('../partials/footer') -%>

<!--
    Priority list of things to figure out
    1. Gradient (even if you think it looks ugly)
    2. Figure out how cut down on the absurd amount of space that the blue padding/margin is taking up
    3. Getting the order of the footer contents situated again, may need to set them in spans or something like that?
-->